// 标题，修改成你期望的字体族
$font-family-headings = Georgia, sans

// 修改成你期望的字体族
$font-family-base = "Microsoft YaHei", Verdana, sans-serif

// 正文字体的大小
$font-size-base = 16px


// 修改成你期望的宽度
$content-desktop = 800px
